<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SpringZ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
<div class="container my-5">
    <h3>SpringZ</h3>
    <p class="text-muted">Navigation</p>

    <div class="list-group">
        <a class="list-group-item list-group-item-action" href="/all">Products</a>
        <a class="list-group-item list-group-item-action" href="/allCategories">Categories</a>
        <a class="list-group-item list-group-item-action" href="/allSubCategories">Subcategories</a>
        <a class="list-group-item list-group-item-action" href="/allProviders">Providers</a>
        <a class="list-group-item list-group-item-action" href="/allCustomers">Customers</a>
        <a class="list-group-item list-group-item-action" href="/allOrders">Orders</a>
        <a class="list-group-item list-group-item-action" href="/allUser">Users</a>
    </div>
</div>
</body>

</html>
